.ant-btn-primary { 
  background-color: #1890ff !important;
}

.ant-modal-content {
  border-radius: 10px !important;
}

.ant-select-selection.ant-select-selection--single {
    border-radius: 0px 8px 8px 0px !important;
    height: 53px !important;
}

@media (max-width: 600px) {
.ant-modal-content {
  border-radius: 10px !important;
}
}

.css-irbhzg-MuiDrawer-docked .MuiDrawer-paper {
  z-index: 0 !important;
}

body {
  background-color: white !important;
}